<footer class="py-10">
  <div class="text-center">
    {{/* Copyright */}}
    <p class="text-sm text-neutral-500 dark:text-neutral-400">
      {{- with .Site.Copyright }}
        {{ . | emojify | markdownify }}
      {{- else }}
        &copy;
        {{ now.Format "2006" }}
        {{ .Site.Author.name | markdownify | emojify }}
      {{- end }}
    </p>
    {{ end }}
  </div>
  {{/* Extend footer - eg. for extra scripts, etc. */}}
  {{ if templates.Exists "partials/extend-footer.html" }}
    {{ partialCached "extend-footer.html" . }}
  {{ end }}
</footer>
