.link-font-awesome {
  background: url("https://35photo.pro/photos_main/1556/7781853.jpg");
  background-size: cover;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}